<div class="row">
  <aside class="col-md-4">
      <section class="project_search">
        <p>Search your project here</p>
      </section>
      
      <section class="user_info">
      <%= render 'shared/user_info', student: @student %>
        
      </section>
    </aside>
    <div class="col-md-8">
      <section class="yourprojects">
        <div class="bidded_projects">
          <h3>興味がある案件</h3>
            <% @projects.each do |project| %>
            <% if project.done != "Done" && project.assigned_student == nil %>
              <li id="project-<%= project.id %>">
                <span class="content"><p>タイトル<%= link_to project.name, project %></span></br>
                <span class="content"><p>概要：</p><%= project.description %></span></br>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(project.created_at) %> ago.
                </span>
              </li>
            <% end %>
            <% end %>
        </div>
        
        <div class="ongoing_projects">
          <h3>あなたが行っている案件</h3>
            <% @projects.each do |project| %>
            <% if project.done != "Done" && project.assigned_student == current_student %>
              <li id="project-<%= project.id %>">
                <span class="content"><p>タイトル<%= link_to project.name, project %></span></br>
                <span class="content"><p>概要：</p><%= project.description %></span></br>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(project.created_at) %> ago.
                </span>
              </li>
            <% end %>
            <% end %>
        </div>
        
        <div class="done_projects">
          <h3>あなたが遂行した案件</h3>
            <% @projects.each do |project| %>
            <% if project.done == "Done" && project.assigned_student == current_student %>
              <li id="project-<%= project.id %>">
                <span class="content"><p>タイトル<%= link_to project.name, project %></span></br>
                <span class="content"><p>概要：</p><%= project.description %></span></br>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(project.created_at) %> ago.
                </span>
              </li>
            <% end %>
            <% end %>
        </div>
        
        <div class="done_projects">
          <h3>募集が終了した案件</h3>
            <% @projects.each do |project| %>
            <% if (project.assigned_student != nil && project.assigned_student != current_student) && project.done == "Done" %>
              <li id="project-<%= project.id %>">
                <span class="content"><p>タイトル<%= link_to project.name, project %></span></br>
                <span class="content"><p>概要：</p><%= project.description %></span></br>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(project.created_at) %> ago.
                </span>
              </li>
            <% end %>
            <% end %>
        </div>
      </section>
    </div>
</div>
