<ul>
  <% @students.each do |p| %>
    <li id="project-<%= p.id %>">
      <span class="content"><%= link_to p.name, p %></span></br>
      <span class="content"><%= p.project_type %></span></br>
      <span class="content"><%= p.description %></span></br>
      <span class="content"><%= p.period %></span></br>
      <span class="content"><%= p.budget %></span></br>
      <span class="content"><%= p.company.company_name %></span></br>
      <span class="content"><%= p.company.industry %></span></br>
      <span class="timestamp">
        Posted <%= time_ago_in_words(p.created_at) %> ago.
      </span>
    </li>
  <% end %>
</ul>