<h2>興味のあるユーザー</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="bidded_users">

      <ul>
        <% @students.each do |s| %>
        <li>
　        <% if s.student_image? %>
　　        <%= image_tag s.student_image.thumb.url %>
　        <% else %>
　　        <%= image_tag 'noimage.png' %>
　        <% end %>
          <span class="content"><%= s.name %></span></br>
          <span class="content"><%= s.university %></span></br>
          <span class="content"><%= s.major %></span></br>
          <span class="content"><%= s.previous_company %></span></br>
          <span class="content"><%= link_to "詳細を見る", profile_student_path(s) %></span></br>
          
          <% if @project.assigned_student == s %>
            <p>この学生に決定</p>
          <% end %>
          <% if @project.assigned_student == nil %>
            <span class="content"><%= link_to "この学生に決定", assigned_project_path(@bid.bidded, s), method: :put, data: { confirm: 'この学生に依頼しますか？一度決定すると変更できません。' } %></span></br>
          <% end %>
            <span class="content"><%= link_to "この学生にコンタクト", message_path(s, current_company) %></span></br>
        </li>
       <% end %>
      </ul>

    </div>
  </div>
</div>