<h2>興味のあるユーザー</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="bidded_users">

      <ul>
        <% @students.each do |p| %>
        <li>
          <span class="content"><%= p.name %></span></br>
          <span class="content"><%= p.university %></span></br>
          <span class="content"><%= p.major %></span></br>
          <span class="content"><%= p.previous_company %></span></br>
          <span class="content"><%= link_to "詳細を見る", profile_student_path(p) %></span></br>
          
          <% if @project.assigned_student == p %>
            <p>この学生に決定</p>
          <% end %>
          
          <% if @project.assigned_student == nil %>
            <span class="content"><%= link_to "この学生に決定", assigned_project_path(@bid.bidded, p), method: :put, data: { confirm: 'この学生に決定しますか？（一度決定すると案件は非公開になり、もとに戻せません）' } %></span></br>
          <% end %>
          </span>
        </li>
       <% end %>
      </ul>

    </div>
  </div>
</div>