<div class="row">
  <div class="go_back col-md-7 col-md-offset-1">
  <%= link_to "一覧に戻る", root_path %>
  </div>
</div>

<div class="row">
  <div class="project_detail col-md-7 col-md-offset-1">
    <div class="project_field">
      <h2><%= @project.name %></h2>
    </div>
    
    <div class="project_field">
      <h4>案件の種類</h4>
      <p><%= @project.project_type %></p>
    </div>
    
    <div class="project_field">
      <h4>概要</h4>
      <p><%= @project.description %></p>
    </div>
    
    <div class="project_field">
      <h4>想定予算</h4>
      <p>～<%= @project.budget %>円</p>
    </div>
    
    <div class="project_field">
      <h4>想定ワークロード</h4>
      <p>計<%= @project.hours %>時間程度</p>
    </div>

    <div class="project_field">
      <h4>募集の締め切り</h4>
      <p><%= @project.closed_on %></p>
    </div>
    
    <div class="project_field">
      <h4>案件自体の締め切り</h4>
      <p><%= @project.period %></p>
    </div>
    
    <div class="project_field">
      <h4>あると良いスキル</h4>
      <ul>
        <% if @project.skill1 %><li>SKILL 1</li><% end %>
        <% if @project.skill2 %><li>SKILL 2</li><% end %>
        <% if @project.skill3 %><li>SKILL 3</li><% end %>
        <% if @project.skill4 %><li>SKILL 4</li><% end %>
      </ul>
    </div>
    
    <div class="project_field">
      <h4>あると良い経験</h4>
      <p><%= @project.required_background %></p>
    </div>
    
  </div>
  
  <div class="col-md-4">
    <div class="project_sidebar panel panel-default">
    <% if student_signed_in? %>
      <div class="panel-heading">企業情報</div>
      <div class="panel-body">
        <p><span>企業名</span><br/><%= @project.company.company_name %></p>
        <p><span>業界</span><br/><%= @project.company.industry %></p>
        <p><span>従業員数</span><br/><%= @project.company.company_size %></p>
        <p><span>URL</span><br/><%= @project.company.company_hp %></p>
      </div>
    </div>
      <div class="project_sidebar_btn">
        <% if current_student.bidding?(@project) %>
          <%= link_to "興味をなくす", unbid_project_path(@project), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "興味がある", bid_project_path(@project), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="project_sidebar_btn">
      <%= link_to "案件について問い合わせる", message_path(current_student, @project.company), method: :put, class: "btn btn-info"  %>
      </div>
    <% end %>
    
    <% if company_signed_in? %>
    <div class="bidders_for_project">
      <p>興味のあるユーザー:<%= link_to @project.bidded_bids.count, bids_project_path(@project) %></p>
    </div>
    <div class="project_field">
      <h4>案件受注が決まった学生</h4>
      <% if @project.assigned_student != nil %>
        <p><%= @project.assigned_student.name %></p>
      <% end %>
    </div>
    <%= link_to "edit", edit_project_path(@project) %>
    <%= link_to "destroy", @project, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    <% end %>
    </div>
  </div>
</div>
